@model Suporteri.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<h2>Detalii</h2>
</br>
<div>

    <div class="form-horizontal">

        <div class="panel panel-default marginPanel text-center" style="width:100%">
            <div class="panel-heading">@Html.DisplayFor(model => model.ProductName)</div>
            <div class="panel-body">
                <img src=@Html.DisplayFor(model => model.ImagePath) />
                <p>
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>
            <div class="panel-footer">
                Pret: @Html.DisplayFor(model => model.UnitPrice) RON /  @Html.DisplayFor(model => model.Category)
            </div>
        </div>
    </div>
</div>
<p>
    @if (this.User.IsInRole("Admin"))
    {
        Html.ActionLink("Editeaza", "Edit", new { id = Model.ProductID });}|
    }

    @Html.ActionLink("Inapoi la produse", "AllProducts")
</p>
